<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
    </head>
    <body>
        <h1>Lista eventi programmati</h1>
            <%  diocane.forEach(function(Eventi){ %>
            <%= Eventi.Titolo %>
            <%= Eventi.dataevento %>
            <%= Eventi.Luogo %>
            <%= Eventi.provincia %>
            <%  }); %>
        <a href="/registrazione/ ">Registrazione</a>
    </body>
</html>