<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Registrazione</title>
    </head>
    <body>
    <form action="/toggle" method="POST">
        <input type="submit" value="toggle">
        <input type="hidden" name="id" value="<%= topay.id_Prova %>">
    </form>
    </body>
</html>

