<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <title>Registrazione</title>
    </head>
    <body>  
        <form action = "/rig/"  method="POST">
        <input value ="<%= Utenti.Nickname %>">
        <br>
        <input>
        <br>
        <input>
        <br>
        <input>
        <br>
        <input>
        <br>
        <input type ="submit" value = "Registrati">
        </form>   
    </body>
</html>

